---
import BaseHead from "@/components/BaseHead.astro";
import { META } from "@/constants/meta";
import Layout from "@/layouts/Layout.astro";
import { Main } from "@/ui/Main";
---

<Layout>
  <BaseHead
    title={META.TITLE}
    description={META.DESCRIPTION}
    robots="index,follow"
    slot="head"
  />
  <Main>
    <section
      id="impressum"
      class="bg-black py-20 to-neutral-900 min-h-screen flex px-10"
    >
      <div class="max-w-prose mx-auto prose">
        <h1>Datenschutzerklärung</h1>
        <p>Wir möchten Sie darüber informieren, dass wir als Anbieter dieser Website verpflichtet sind, Ihnen gemäß der EU-Datenschutzgrundverordnung (DSGVO) zu erklären, welche Informationen wir sammeln und wie wir sie verwenden.</p>
        <h2>Wer sind wir?</h2>
        <p>Wir sind ein Team von drei Softwareentwicklern, die zusammenarbeiten. Unsere Kontaktdaten sind:</p>
        <p>Entwickler 1: Ferhat Aram</p>
        <p>Entwickler 2: Yusuf Aran</p>
        <p>Entwickler 3: Ömer Aran</p>
        <h2>Was sammeln wir?</h2>
        <p>Wir sammeln die von Ihnen eingegebenen Daten in unserem Kontaktformular. Diese Daten umfassen Ihren Namen und Ihre E-Mail-Adresse.</p>
        <h2>Wofür verwenden wir die Daten?</h2>
        <p>Wir verwenden die von Ihnen bereitgestellten Daten nur, um Ihre Anfrage zu bearbeiten und Ihnen zu antworten. Wir verwenden die Daten nicht für Marketingzwecke oder zur Werbung.</p>
        <h2>Datenweitergabe an externe Dienstleister</h2>
        <p>Wir teilen Ihre Daten nur mit externen Dienstleistern, die für die Bearbeitung Ihrer Anfrage benötigt werden. Wir holen die Einwilligung der Nutzer ein, bevor wir ihre Daten weitergeben.</p>
        <h2>Rechte der Nutzer</h2>
        <p>Sie haben das Recht, auf Auskunft, Berichtigung, Löschung und Widerspruch zu Ihren Daten zu verlangen. Sie haben auch das Recht, Datenübertragbarkeit zu verlangen und Ihre Einwilligung zur Datenverarbeitung jederzeit zu widerrufen.</p>
        <h2>Zweckbindung</h2>
        <p>Wir verarbeiten Ihre Daten nur für die Zwecke, die in dieser Datenschutzerklärung angegeben sind. Nachdem der Zweck der Datenverarbeitung entfallen ist, werden Ihre Daten gelöscht.</p>
        <h2>Kontakt</h2>
        <p>Für Fragen oder Beschwerden hinsichtlich der Datenschutzpraktiken können Sie uns per E-Mail unter oemer.aran95@gmail.com kontaktieren.</p>
      </div>
    </section>
  </Main>
</Layout>
