---
import Layout from "@/layouts/Layout.astro";
import BaseHead from "@/components/BaseHead.astro";
import { Main } from "@/ui/Main";

import PrincipleSection from "@/domains/home/PrincipleSection.astro";
import TechStackSection from "@/domains/home/TechStackSection.astro";
import HiringSection from "@/domains/home/HiringSection.astro";
import StartSection from "@/domains/home/StartSection.astro";
---

<Layout>
  <BaseHead slot="head" title="A3 Team" description="" />

  <Main>
    <StartSection />
    <PrincipleSection />
    <TechStackSection />
    <HiringSection />
  </Main>
</Layout>
