---
import Layout from "@/layouts/Layout.astro";
import BaseHead from "@/components/BaseHead.astro";
import { Main } from "@/ui/Main";
---

<Layout>
  <BaseHead slot="head" title="A3 Team" description="" />
  <Main>
    <section
      id="home"
      class="heropattern-texture-neutral-900 flex items-start bg-neutral-950 py-10"
    >
      <div class="container mx-auto px-4">
        <h1 class="font-bold text-4xl lg:text-7xl">A3 Team</h1>
        <p>
          Dein A-Team für die digitale Transformation. Wir sind ein Team aus
          erfahrenen Softwareentwicklern, die sich auf die Entwicklung von
          Webanwendungen spezialisiert haben.
        </p>
        <p>
          Wir entwickeln Webanwendungen mit modernen Technologien und
          Frameworks. Dabei setzen wir auf eine agile Entwicklungsmethode, um
          schnell und flexibel auf die Anforderungen unserer Kunden reagieren zu
          können.
      </div>
    </section>
  </Main>
</Layout>

<style></style>
