---
import { Navbar } from "@/ui/Navbar";
import { Logo } from "@/ui/icons/Logo";
---

<header>
  <Navbar client:load>
    <Navbar.List>
      <Navbar.ListItem
        className="group before:hover:bg-primary-700 before:hover:heropattern-diagonallines-primary-600"
      >
        <Navbar.Link href="/#start" className="flex items-center px-2 gap-3 z-10 h-full w-full text-white">
          <Logo size={24} className="text-white" />

          <div class="font-bold text-fl-sm">
            A3 <span class="font-extralight">Team</span>
          </div>
        </Navbar.Link>
      </Navbar.ListItem>

      <Navbar.ListItem>
        <Navbar.Link href="/#kontakt">Kontakt</Navbar.Link>
      </Navbar.ListItem>
    </Navbar.List>
  </Navbar>
</header>
